/*Google fonts poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Common style  */
*{
    font-family: 'Poppins', sans-serif;  
}
header{
    background-color: #264653;
 }
footer{
     margin-bottom: -24px;/*use it for removing unwanted space after footer tag*/
 }
.bg-navy{
     background-color: #264653;
 }
 .text-orange{
    color: #E76F51;
}
.bg-white-smoke{
    background-color: #fafafa;
}
 /* Nav bar  */
.btn-login{
     background-color: #E76F51;
     padding: 10px 24px;
     transition: background 1s;
 }
.btn-login:hover, .btn-purchase:hover{
    border: 1px solid #E76F51;
    background-color: #264653;
    padding: 9px 23px;
}
  /* banner  */
.bike-name:hover{
    color: red;
    transition: color 1s;
}
.btn-purchase{
    transition: background 1s;
    padding: 10px 24px;
}
.bg-orange{
    background-color: #E76F51;
}
.banner-img{
    transition: transform 5s;
}
.banner-img:hover{
    transform: rotate(360deg);
}
/* fetured bike */
.title-subtitle::after {
    content: "----------------";
    position: absolute;
    top: 15px;
    letter-spacing: -3px;
    left: 47%;
}
.img-gray{
    filter: grayscale(100%);
    transition: filter 3s;
}
.img-gray:hover{
    filter: grayscale(0%);
}

/* latest news */
.btn-news{
    border: 1px solid #E76F51;
    color: #E76F51;
    transition: all 1s;
}
.btn-news:hover{
    background-color: #E76F51;
    color: #fff;
}
.card-img-top:hover{
    transform: scale(1.1);
    filter: grayscale(50%);
    overflow: hidden;
    transition: all 2s;
}
/* FAQ */
.faq-img{
    animation: image-zoom 3s ease-in-out .5s infinite alternate;
}

/* animation */ 
@keyframes image-zoom {
    form{
        transform: scale(1.3);
    }to{
        transform: scale(.9);
    }
}